*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
}
.mainContainer {
    background-color: #F0F0C9;
    width: 1000px;
    padding: 20px 40px 30px;
    border-radius: 50px;
    text-align: center;
    min-height: 100px;
    height: auto;
    transition: height 2s ease, padding 0.5s ease;
}
input{
    width: 50%;
    padding: 10px;
    background-color: transparent;
    border: 4px solid #f87737;
    border-radius: 10px;
    font-size: 18px;
     &::placeholder{
        font-size: 18px;
        color: #333;
    }
    &:focus{
        outline: none;
        border: 4px solid #f87737;

    }
}
button{
    
    background-color: #f87737;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
